header {
  display: flex;
  align-items: center;
}
header > * {
  margin: 0.7em;
}
.headers {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.headers > * {
  margin: 0;
}
main {
  text-align: justify;
  text-justify: inter-word;
}
#about-section ul > li {
  line-height: 1.5em;
  padding: 0 0.1em;
}
